<div class="card">
    <div class="card-header">
        <div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="https://i.pravatar.cc/50?img=65" width="40" class="rounded-circle">
                </div>
                <div class="col ps-0">
                    <div class="card-title mb-0">Gary Anderson</div>
                    
                    <a href="{{ url_for('show', id=note.id) }}" class="link-underline-dark">
                        <small class="d-block text-body-secondary">
                            {{ note.published_at.strftime("%d %B %Y") }}
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <figure>
            <blockquote class="blockquote mt-2">
                <p>{{ note.content }}</p>
            </blockquote>
        </figure>

        <p class="card-text">
            <small class="text-body-secondary">Share on <a href="https://www.facebook.com/">Facebook</a></small>
        </p>
    </div>
</div>
