<form action="{{ request.path }}" method="post">
  <div class="mb-2">
    <textarea class="form-control form-control-lg" required
              id="note-textarea" rows="3" maxlength="200"
              name="content" placeholder="What's on your mind?">{% if note %}{{ note.content }}{% endif %}</textarea>
    <div class="form-text">
      <span id="note-chars-count">0</span> / 200
    </div>
  </div>

  <div class="d-flex justify-content-end">
      {% if note %}
        <a href="{{ url_for('delete', id=note.id) }}" class="btn btn-lg btn-outline-danger me-5">Delete Note</a>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-primary">{{ buttonText }}</button>
  </div>
</form>
