<div class="card">
    <div class="card-header">
        <div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <img src="https://i.pravatar.cc/50?img=65" width="40" class="rounded-circle">
                </div>
                <div class="col ps-0">
                    <div class="card-title mb-0">Gary Anderson</div>

                    <a href="{{ url_for('notes.show', id=note['id']) }}" class="link-underline-dark">
                        <small class="d-block text-body-secondary">
                            {{ note["published_at_pretty"] }}
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <figure>
            <blockquote class="blockquote mt-2">
                <p>{{ note["content"] }}</p>
            </blockquote>
        </figure>

        <p>
            {% for tag in note["pretty_tags"] %}
                <a href="{{ url_for('tags.show', tag=tag) }}" class="badge rounded-pill bg-opacity-25 text-bg-primary link-underline-dark me-2">#{{ tag }}</a>
            {% endfor %}
        </p>

        <p class="card-text">
            <small class="text-body-secondary">Share on <a href="https://www.facebook.com/" class="link-underline-dark">Facebook</a></small>
            {% if g.is_admin %}
            <small class="px-3 text-body-secondary">
                <a href="{{ url_for('notes.edit', id=note['id']) }}" class="link-underline-dark">Edit</a>
            </small>
            {% endif %}
        </p>
    </div>
</div>
