<form action="{{ request.path }}" method="post">
  {{ form.csrf_token }}

  <div class="mb-3">
    {{ form.content(
              id="note-textarea", 
              class="form-control form-control-lg", 
              maxlength="200",
              rows=3,
              placeholder="What's on your mind?"
            )
    }}
    <div class="form-text">
      <span id="note-chars-count">0</span> / 200
    </div>
  </div>

  <div class="mb-4">
    <div class="input-group input-group-lg">
      <span class="input-group-text">Tags:</span>
      {{ form.tags(
                class="form-control", 
                placeholder="Add tags separated by commas"
              )
      }}
    </div>
  </div>

  <div class="mb-4">
    <div class="input-group input-group-lg">
      <span class="input-group-text">Publication date:</span>
      {{ form.published_at(
                class="form-control"
              )
      }}
    </div>
  </div>

  <div class="mb-4">
    {% for subfield in form.public %}
      <div class="form-check lead">
        {{ subfield(class="form-check-input") }}
        {{ subfield.label(class="form-check-label") }}
      </div>
    {% endfor %}
  </div>

  <hr class="my-4">

  <div class="d-flex justify-content-end">
      {% if note %}
        <a href="{{ url_for('notes.delete', id=note['id']) }}" class="btn btn-lg btn-outline-danger me-5">Delete Note</a>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-primary">{{ buttonText }}</button>
  </div>
</form>
